.Card {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 560px;
  padding: 2rem;

  font-size: $font-size-text_small;
  background-color: $color-light;
  border-radius: 20px;
}

.Card__item_product-name {
  text-align: center;
}

.Card-image {
  @include size(260px);
align-self: center;
}

.Card__item_product-price,
.Card__item_product-description {
  padding-bottom: 1rem;

  text-align: center;
}

.Card__item_product-price {
  font-size: $font-size-text_large;
  font-weight: 700;
}

.Card__properties-container {
  display: flex;
  justify-content: space-between;
}

.Card__gap {
  flex-grow: 2;
}

.Card__item_product-add-button {
  padding: 0;
}
