.FormCardList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: calc($gap * 2);

  color: $color-text;
}

.formCard {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 360px;
  padding: 2rem;

  font-size: $font-size-text_small;
  background-color: $color-light;
  border-radius: 20px;
}